body {
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: #ffffff;
    overflow-y: auto;
    background: url('images/clouds.jpeg') no-repeat center/cover;
    background-size:370vh;
    
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color:white;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

input {
    width: 94%;
    padding: 12px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    outline: none;
}

input:hover {
    
    transform: scale(1.05);
}

button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    background: #3498db;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: #1f78c1;
    transform: scale(1.05);
}

.result {
    margin-top: 20px;
    text-align: center;
    /* background: rgba(255, 255, 255, 0.15); */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    background:radial-gradient( #1f78c1,#4e92e0);
}

.forecast {
    margin-top: 30px;
    display: flex;
    flex-direction:row;
    width:100vw;
    border-radius: 10px;
    justify-content: space-evenly;
    
}

.forecast-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
    background: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    width:27vw;
}

.forecast-day:hover {

    transform: scale(1.03);
}

.forecast-day img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.forecast-day h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

.forecast-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    background: rgba(221, 215, 215, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.forecast-detail img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.forecast-detail span {
    flex: 1;
    text-align: left;
    font-size: 0.9rem;
    color: #ffffff;
}
.forecast-detail:hover {

    transform: scale(1.03);
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    input, button {
        font-size: 0.9rem;
    }

    .forecast-day img {
        width: 40px;
        height: 40px;
    }
}
